<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Not Too Late</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <ul class="nav navbar-nav right">
          <li><a href="/shows">Upcoming Shows</a></li>
          <li class='active'><a href="/about">About Us</a></li>
          <li><a href="/press">Press</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="row">
  <div class="row col-xs-8 col-xs-offset-2 text-center">
    <p style='color: blue; font-size: 16px'>
      Each member has a wealth of experience going into the “Not Too Late” experience. So as not to bore you with their individual achievements, we have listed how the individual member enhances the band.
    </p>
    <h3>Chuck:</h3>
    <p style='color: blue; font-size: 16px'>
      One of the two lead singers, plays rhythm guitar in a tasteful and intrical way. When he is not singing the lead, you will find him joining in on the background harmonies. We call him the “crooner”, for that smooth voicing.
    </p>
    <h3>Jim:</h3>
    <p style='color: blue; font-size: 16px'>
      The other lead singer. He adds the distinctive hard driving and powerful voice to the band. A perfect compliment to the “crooner”, his vocals allows the band to go into new territories that would not be possible without him.
    </p>
    <h3>Dennis:</h3>
    <p style='color: blue; font-size: 16px'>
      Brings that strong bass that is needed on so many of our songs. Along with diversified tastes, he adds his experience and touch that brings forward that driving beat that is so important to our song list.
    </p>
    <h3>Julio:</h3>
    <p style='color: blue; font-size: 16px'>
      The man with the golden sax. His playing adds a wonderful layer to the songs. He is the perfect compliment to all of those guitars.
    </p>
    <h3>Joe:</h3>
    <p style='color: blue; font-size: 16px'>
      The drummer who we say plays like a clock. His timing is perfect. We always can count on him on setting the pace, the beat and that extra roll that makes a song go from good to great.
    </p>
    <h3>Larry:</h3>
    <p style='color: blue; font-size: 16px'>
      The lead guitarist. He adds his own style to each song, and provides that riff that makes a song so recognizable. He also adds his background vocals to that 3 part harmony that helps set the band apart.
    </p>
  </div>
</div>
