<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Not Too Late</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <ul class="nav navbar-nav right">
          <li><a href="/shows">Upcoming Shows</a></li>
          <li><a href="/about">About Us</a></li>
          <li><a href="/press">Press</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<!-- <div class="row">
  <div class="col-xs-12" style='margin-left: 27%'>
    <img src="/images/full-band.jpg" class='img-responsive' />
  </div>
</div> -->
<div class="text-center">
  <h5><span class='glyphicon glyphicon-music'></span> <span class='current-song'>Nowhere Man</span></h5>
  <audio id="player" class="audio_player col-xs-12" preload="auto" controls>
    <source src="http://s3.amazonaws.com/not-too-late.rocks/mp3s/audio_files/000/000/003/original/03_Nowhere_Man.mp3?1475608427" type="audio/mp3" class='audio-file' style='width: 100%'>
  </audio>
</div>

<!-- <#%= form_for Mp3.new do |f| %>
  <#%= f.label "Title" %>
  <#%= f.text_field :title %>
  <#%= f.label "mp3" %>
  <#%= f.file_field :audio_field %>
  <#%= f.submit "Submit" %>
<#% end %> -->

<div class="container-fluid text-center">

  <% Mp3.all.each do |mp3| %>
    <h4 class='pointer change-song' data='<%= mp3.title %>'><span class='glyphicon glyphicon-play'></span> <%= mp3.title %></h4>
  <% end %>

  <div class="row text-center">
  </div>

  <h3 class='slogan'>If you've always loved the great classic rock songs of the 60's and 70's, then this is the band to hear. Because it's "Not Too Late".</h4>

  <div class="row text-center">
    <h1 class='logo'>Not Too Late</h1>
    <div class="row text-center" style='margin-bottom: 15px'>
      <img src="/images/not-too-late-promo.png" style='width: 60%' />
    </div>
    <div class="row" style='margin-bottom: 15px'>
      <div class="col-xs-10 col-xs-offset-1">
        <img src="/images/ntl-3.jpg" class='img-responsive' />
      </div>
    </div>
    <div class="row" style='margin-bottom: 15px'>
      <div class="col-xs-10 col-xs-offset-1">
        <img src="/images/ntl-5.jpg" class='img-responsive' />
      </div>
    </div>
    <div class="row" style='margin-bottom: 15px'>
      <div class="col-xs-10 col-xs-offset-1">
        <img src="/images/ntl-6.jpg" class='img-responsive' />
      </div>
    </div>
  </div>

</div>

<script>
  var index = 1
  var songs = {
    'Nowhere Man': "http://s3.amazonaws.com/not-too-late.rocks/mp3s/audio_files/000/000/003/original/03_Nowhere_Man.mp3?1475608427",
    "Fire": "http://s3.amazonaws.com/not-too-late.rocks/mp3s/audio_files/000/000/004/original/Fire.mp3?1475608449",
    "Mr. Soul": "http://s3.amazonaws.com/not-too-late.rocks/mp3s/audio_files/000/000/005/original/Mr-Soul.mp3?1475608474",
    "Ziggy Stardust": "http://s3.amazonaws.com/not-too-late.rocks/mp3s/audio_files/000/000/006/original/Ziggy-Stardust.mp3?1475608499"
  }
  // $(document).ready(function(){
    $('#player')[0].src = songs['Nowhere Man']
  // })

  $('.change-song').click(function(){
    var title = $(this).attr('data')
    $('#player')[0].pause()
    $('#player')[0].src = songs[title]
    $('#player')[0].play()
    $('.current-song').text(title)
  })
</script>
