<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Not Too Late</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <ul class="nav navbar-nav right">
          <li><a href="/shows">Upcoming Shows</a></li>
          <li><a href="/about">About Us</a></li>
          <li class='active'><a href="/press">Press</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="row text-center">
  <div class="col col-xs-8 col-xs-offset-2">

    <h4>Bridgewater Church Rocks Again</h4>
    <p style='font-size: 16px'>
      Although the annual Roots Rock Revue is taking the year off from their concert series at the Bridgewater Congregational Church, that doesn’t mean the town will go dry for a night of musical entertainment this fall.  On Saturday November 5th  “The Hall” at the church will feature the band Not Too Late for a Classic Rock Night Out.  Unlike the Revue’s concert setting, this year’s event will be a party and dance scene with the band playing classic rock music from the ‘60s, ‘70s & ‘80s.
    </p>
    <p style='font-size: 16px'>
      Not Too Late is a band of 6 seasoned local musicians, each with extensive experience performing in a variety of different bands or as individual performers in the area. Members come from: Newtown, New Milford, Woodbury, Harwinton and Bridgewater.
    </p>
    <p style='font-size: 16px'>
      This collaboration of talented musicians, each with a unique artistry and with individual accomplishments has the same genre passion and creates a group that is greater than the simple sum of its parts. Not Too Late musical selections will recall the audience’s memories from the years of peace, love and understanding.   Band members include: Julio Aquila, Joseph Charles, Chuck DelRossi, Dennis MacDonald, Larry Schneider, and Jimmy Stack.
    </p>
    <p style='font-size: 16px'>
      After hearing Not Too Late perform Rick Tedesco, owner of The Guitar Hanger in Brookfield, CT said….
      “I really enjoy the well played song choices and the harmonies. This is a fun band!”
    </p>
    <p style='font-size: 16px'>
      The venue for the night will include a comfortable seating area for conversations with friends and a dance floor up front near the band.  All are welcome to BYOB. Snacks and munchies will be available.  Doors open at 7.  The Hall at Bridgewater Church is located on Clapboard Rd, Bridgewater CT.
    </p>
    <p style='font-size: 16px'>
      Tickets are $15 or 2 for $25. All proceeds are to benefit the Bridgewater Congregational Church and its community benevolence programs. All music lovers are welcome.  Tickets can be purchased at the church office or by calling 860.354.8283.
    </p>

  </div>
</div>
