<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Not Too Late</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <ul class="nav navbar-nav right">
          <li class='active'><a href="/shows">Upcoming Shows</a></li>
          <li><a href="/about">About Us</a></li>
          <li><a href="/press">Press Release</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="row text-center">

  <div class="row">
    <h5 style='color: blue'>October 21st, 2016</h5>
    <h4 style='color: green'>McGuire's Ale House</h4>
    <h4>Newtown, CT</h4>
  </div>

  <div class="row">
    <h5 style='color: blue'>November 5th, 2016</h5>
    <h4 style='color: green'>Bridgewater Congregational Church</h4>
    <h4>Bridgewater, CT</h4>
  </div>

  <div class="row">
    <h5 style='color: blue'>December 3rd, 2016</h5>
    <h4 style='color: green'>New Milford Sports Center</h4>
    <h4>New Milford, CT</h4>
  </div>

  <div class="row">
    <h5 style='color: blue'>December 10th, 2016</h5>
    <h4 style='color: green'>The Painted Pony</h4>
    <h4>Bethlehem, CT</h4>
  </div>

</div>
